{{#if main}}
<div class="__header"></div>
<div class="__layout">
    <div class="__sidebar-backdrop"></div>
    <div class="__sidebar"></div>
    <div class="__renderbox"></div>
    <div class="__details"></div>
    <div class="__details-backdrop"></div>
</div>
{{/if}}
