{{#if main}}
<div class="__header-container">
    <div class="__header-left">
        <span class="__header-logo-text">BUILTING</span>
        <button class="__header-toggle" title="Toggle sidebar">
            <svg class="__header-toggle-icon" width="24" height="26" viewBox="0 0 200 220" fill="none" xmlns="http://www.w3.org/2000/svg">
                <polyline points="40,205 40,22 112,75 112,205" stroke="currentColor" stroke-width="7" stroke-linejoin="round" stroke-linecap="round"/>
                <polyline points="92,205 92,95 155,95 155,205" stroke="currentColor" stroke-width="7" stroke-linejoin="round" stroke-linecap="round"/>
                <line x1="92" y1="128" x2="155" y2="205" stroke="currentColor" stroke-width="7" stroke-linecap="round"/>
                <line x1="15" y1="212" x2="182" y2="212" stroke="currentColor" stroke-width="7" stroke-linecap="round"/>
            </svg>
        </button>
    </div>
    <div class="__header-center"></div>
    <div class="__header-right">
        <button class="__header-logout" title="Logout">
            <svg class="__header-logout-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
            </svg>
            <span class="__header-logout-text">Logout</span>
        </button>
    </div>
</div>
{{/if}}
