<button class="__controls-new" title="Create new render">
    <svg class="__controls-new-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
    </svg>
    <span class="__controls-new-text">New Render</span>
</button>
