{{#if main}}
<div class="__header-container">
    <div class="__header-left">
        <span class="__header-logo-text">BUILTING</span>
        <button class="__header-toggle" title="Toggle sidebar">
            <svg class="__header-toggle-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path>
                <polyline points="17 21 17 13 7 13 7 21"></polyline>
                <polyline points="7 5 7 13 17 13 17 5"></polyline>
            </svg>
        </button>
    </div>
    <div class="__header-center">
        <span class="__header-welcome">Welcome, <span class="__header-user-name"></span></span>
    </div>
    <div class="__header-right">
        <button class="__header-logout" title="Logout">
            <svg class="__header-logout-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
            </svg>
            <span class="__header-logout-text">Logout</span>
        </button>
    </div>
</div>
{{/if}}
