{{#if main}}
<div class="__header-container">
    <div class="__header-left">
        <span class="__header-logo-text">BUILTING</span>
        <button class="__header-toggle" title="Toggle sidebar">
            <span class="material-icon __header-toggle-icon">apartment</span>
        </button>
    </div>
    <div class="__header-center"></div>
    <div class="__header-right">
        <button class="__header-logout" title="Logout">
            <svg class="__header-logout-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
            </svg>
            <span class="__header-logout-text">Logout</span>
        </button>
    </div>
</div>
{{/if}}
