{{#if main}}
<div class="__details-body">
  <div class="__details-title-section">
    <h2 class="__details-title"></h2>
  </div>

  <div class="__details-section">
    <h3 class="__details-section-title">Description</h3>
    <p class="__details-description"></p>
  </div>

  <div class="__details-section">
    <h3 class="__details-section-title">Source Files</h3>
    <div class="__details-files"></div>
  </div>

  <div class="__details-actions">
    <button class="__details-delete" title="Delete this render">Delete Render</button>
  </div>
</div>
{{/if}}
